 .css-input {
	 padding: 5px;
	 text-align: left;
	 font-size: 20px;
	 border-radius: 6px;
	 border-width: 2px;
	 border-style: solid;
	 background-color: #faf7fa;
	 border-color: #b3cde0;
	 font-weight: normal;
	 font-family: monospace;
 }

 .css-input:focus {
	 outline: none;
 }

 .pull-center {
	 text-align: left;
	 padding: 75px;
 }

 .gsc-result-info {
	 text-align: left;
	 color: #999;
	 font-size: 12px;
	 padding-left: 8px;
	 margin: 10px 0 10px 0;
 }

 .gs-title {
	 color: #1a0dab;
	 text-decoration: none;
	 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 }

 .gs-visibleUrl {
	 color: #006621;
	 text-decoration: none;
 }

 .gs-result {
	 color: #0052FF;
	 text-decoration: none;
 }

.imgCss {
	position: relative;
	left: 10;
}
